.AppContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.ControlsContainer {
  display: flex;
  flex-direction: column;
}
.ButtonsContainer {
  display: flex;
  width: 100%;
  padding: 0px, 5px;
  justify-content: center;
}

.GridContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(8);
  width: 10px;
  height: 10px;
}
